.header {
    grid-area: 1 / 1 / 2 / 9;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
}

.header__start {
    margin-left: 15px;
    color: darkblue;
}

.header__end {
    margin-top: 9px;
    display: flex;
}

.header__end > * {
    margin-right: 10px;
}
