.splash {
    background: #465A3D;
    height: 100vh;
    width: 100vw;
}

nav, .nav-links, .slogan, .bio {
    color: white;
}

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
}

.splash__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slogan__container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.slogan {
    font-family: 'Orbitron';
    font-size: 4rem;
    border-bottom: 1px outset #fffff7;
}

.bio {
    margin: auto;
}
