
.task__form__container {
    grid-area: 1 / 1 / 2 / 4;
}

.task__form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 12px
}

.task__form > input {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin: 10px;
}

.task__list {
    grid-area: 2 / 1 / 4 / 4;
}